target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.factorypath

.DS_Store
Thumbs.db

*.log
*.class

.env
.env.local
